.screenLock {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
  top: 0px;
  left: 0px;
  z-index: 99999;
  display: none;
}

.screenLock .msg {
  position: absolute;
  width: 90%;
  max-width: 750px;
  top: 90px;
  left: 0;
  right: 0;
  margin: auto;
  background: rgb(33, 167, 229) none repeat scroll 0% 0%;
  border: 7px solid rgb(238, 238, 238);
}

.screenLock .msg > h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 28px;
  margin: 20px auto;
}

.screenLock .msg .text {
  display: inline-block;
  vertical-align: middle;
  max-width: 59%;
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
}

.screenLock .image {
  display: inline-block;
  vertical-align: middle;
  max-width: 24%;
  margin-left: 50px;
}

.screenLock .close {
  position: absolute;
  top: 1px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
}

.screenLock .submit {
  cursor: pointer;
  height: 75px;
  width: 400px;
  background-color: #ec3b3b;
  color: #ffffff;
  font-size: 30px;
  border-radius: 3px;
  margin: 20px auto;
  font-weight: bold;
}

.screenLock .submit:hover {
  background-color: #bb3d3d;
}

h1 {
  display: block;
  width: auto;
  line-height: 1.2;
  color: rgb(10, 10, 10);
  font-size: 23px;
}

h2 {
  display: block;
  line-height: 1.2;
  color: rgb(10, 10, 10);
  font-size: 19px;
  margin-top: 25px;
}

h2::after {
  content: "";
  margin-top: 25px;
  border-bottom: 4px solid rgb(22, 141, 226);
  display: block;
}

a,
.content-left-social-comments-count {
  color: #23527c;
  text-decoration: underline;
  cursor: pointer;
}

a:hover,
.content-left-social-comments-count:hover {
  color: #b0493b;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: rgb(238, 238, 238) currentcolor currentcolor;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
}

body {
  display: block;
  font-family: "Open Sans", sans-serif;
  background: rgb(250, 250, 250) none repeat scroll 0% 0%;
  height: auto;
  color: rgb(68, 68, 68);
  line-height: 1.5625;
}

.content {
  display: block;
  width: 97%;
  max-width: 1000px;
  margin: 0px auto;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding: 25px 1.5%;
  position: relative;
}

.content-left {
  display: block;
  float: left;
  width: 71%;
  padding-right: 2%;
}

.content-left-social {
  display: block;
  width: 96%;
  background: rgb(238, 238, 238) none repeat scroll 0% 0%;
  padding: 1% 2%;
  margin: 15px 0px;
}

.content-left-social-comments {
  display: block;
  float: right;
  width: 50%;
  text-align: right;
  font-size: 13px;
}

.content-left-social::after {
  content: "";
  display: block;
  clear: both;
}

.content-left-doctor {
  display: block;
  width: 96%;
  background-color: rgb(226, 226, 226);
  padding: 2%;
  margin-top: 25px;
}

.content-left-doctor-foto {
  display: block;
  width: 48%;
  float: left;
  margin-right: 2%;
}

.content-left-doctor-foto img {
  width: 100%;
  display: block;
}

.content-left-doctor-text {
  display: block;
  width: 50%;
  float: right;
}

.content-left-doctor::after {
  content: "";
  display: block;
  clear: both;
}

.content-important {
  display: block;
  width: auto;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.opros-product-block {
  display: block;
  width: auto;
  margin-top: 2%;
}

.like-block {
  display: block;
  width: 95.7%;
  border: 2px solid rgb(230, 230, 230);
  padding: 0px 2% 2%;
  margin: 3% 0px;
  border-radius: 3px;
}

.like-block img {
  display: block;
  width: auto;
}

.vk-container {
  text-align: left;
  font-family: tahoma, arial, verdana, sans-serif;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.vk-header {
  background: rgb(218, 226, 232) none repeat scroll 0% 0%;
  padding: 4px 4px 4px 6px;
  margin-bottom: 10px;
}

.vk-logo {
  background: transparent none no-repeat scroll 0% 0%;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -1px;
}

.vk-header-text {
  padding: 2px 3px 1px;
  line-height: 100%;
  color: rgb(69, 104, 142);
  font-weight: bold;
}

.content-right {
  display: block;
  width: 27%;
  float: right;
  position: relative;
}
.red {
  color: #f00;
}
.content-right-recommend-container {
  display: block;
  max-width: 270px;
  width: 100%;
}

.content-right-recommend {
  display: block;
  width: auto;
}

.content-right-recommend-top {
  height: 48px;
  background: rgb(74, 162, 36) none repeat scroll 0% 0%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 48px;
  position: relative;
  text-align: center;
  font-size: 12px;
}

.content-right-recommend-top::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 17px 13px 0px;
  border-color: transparent rgb(74, 162, 36) transparent transparent;
  left: 0px;
  bottom: -13px;
}

.content-right-recommend-top::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 13px 17px 0px 0px;
  border-color: rgb(74, 162, 36) transparent transparent;
  right: 0px;
  bottom: -13px;
}

.content-right-recommend-middle {
  width: 86%;
  display: block;
  margin: auto;
  padding: 1% 1% 7%;
  text-align: center;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  text-decoration: none;
}

.content-right-recommend-middle img {
  display: block;
  /* width: 75%; */
  max-height: 156px;
  margin: 7% auto;
}

.content-right-statistic {
  display: block;
  width: 96%;
  padding: 0px 2% 2%;
  background: rgb(243, 243, 243) none repeat scroll 0% 0%;
  color: rgb(81, 81, 81);
  margin-top: 5%;
}

.content-right-statistic-head {
  display: block;
  width: auto;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 1%;
}

.content-right-statistic-info {
  display: block;
  width: 100%;
  margin-bottom: 1%;
}

.content-right-statistic-info-left {
  display: block;
  float: left;
  width: 60%;
  text-align: left;
  font-size: 14px;
}

.content-right-statistic-info-right {
  display: block;
  float: left;
  width: 37%;
  font-size: 14px;
  margin-left: 3%;
  font-weight: bold;
  text-align: left;
}

.content-right-statistic-info::after {
  content: "";
  display: block;
  clear: both;
}

.content::after {
  content: "";
  display: block;
  clear: both;
}

.vote-block {
  width: auto;
  display: block;
  background: rgb(238, 239, 241) none repeat scroll 0% 0%;
  border-radius: 3px;
}

.vote-block-head {
  display: block;
  text-align: left;
  width: auto;
  padding: 15px 20px;
}

.vote-block-head h2 {
  color: #f00;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-top: 0px;
}

.vote-block-head span {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-transform: lowercase;
}

.vote-block-content {
  display: block;
  width: auto;
  border: 1px solid rgb(238, 239, 241);
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding: 0px 20px;
  font-size: 14px !important;
}

.vote-block-content-container:first-child {
  margin-top: 30px;
}

.vote-block-content-container:last-child {
  margin-bottom: 40px;
}

.vote-block-content-container {
  display: block;
  width: auto;
  margin-bottom: 20px;
}

.vote-block-content-container::after {
  content: "";
  display: block;
  clear: both;
}

.vote-block-content-text {
  float: left;
  display: block;
  width: 40%;
  text-align: left;
}

.vote-block-content-stat {
  display: block;
  float: right;
  width: 60%;
  position: relative;
  background: rgb(238, 239, 241) none repeat scroll 0% 0%;
  height: 25px;
}

.vote-block-content-stat-line {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35%;
  height: 100%;
  background: rgb(102, 160, 29) none repeat scroll 0% 0%;
  text-align: right;
}

.vote-block-content-stat-line h6 {
  font-size: 12px;
  color: rgb(238, 239, 241);
  margin-left: 121%;
  margin-top: 4px;
}

.line-1 {
  width: 23%;
  background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-2 {
  width: 47%;
  background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-3 {
  width: 8%;
  background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-4 {
  width: 17%;
  background: rgb(147, 149, 152) none repeat scroll 0% 0%;
}

.line-5 {
  width: 5%;
  background: rgb(147, 149, 152) none repeat scroll 0% 0%;
}

.line-1 h6 {
  color: rgb(102, 160, 29);
}

.line-2 h6 {
  color: rgb(102, 160, 29);
  margin-left: 108%;
}

.line-3 h6 {
  color: rgb(102, 160, 29);
}

.line-4 h6 {
  color: rgb(147, 149, 152);
}

.line-5 h6 {
  color: rgb(147, 149, 152);
}

<style > #created-button-1 {
  line-height: 1.7em !important;
}

a:active,
a:focus {
  outline: 0;
}

:focus {
  outline: 0;
}

button:active,
button:focus {
  outline: 0 !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

.myh2 {
  display: block;
  line-height: 1.2;
  color: #0a0a0a;
  margin-top: 25px;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: 700;
}

.article-heading {
  margin: 25px 0;
  text-align: center;
}

.align-left {
  text-align: left;
}

.article-link {
  text-decoration: none;
}

.article-link:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.product-pic {
  display: block;
  margin: 0 auto;
  /* width: 100%; */
  max-width: 426px;
  max-height: 383px;
}

.share-picture {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.vk-comment,
.vk-comment-load {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid rgb(218, 225, 232);
  padding-bottom: 15px;
}

.vk-avatar img {
  float: left;
  margin-right: 10px;
}

.vk-comment-name {
  color: rgb(43, 88, 122);
  font-weight: bold;
  font-size: 12px;
}

.vk-comment-text {
  margin-left: 60px;
}

.vk-comment-date {
  margin-left: 60px;
  color: rgb(153, 153, 153);
}

.content-right {
  display: block;
  width: 27%;
  float: right;
  position: relative;
}

.bottom-btn-wrap {
  text-align: center;
}

.bottom-btn {
  display: inline-block;
  margin: 20px auto;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #de0606;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.bottom-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1199px) {
  .content-right {
    display: none;
  }

  .content-left {
    width: 100%;
    padding-right: 0px;
  }
}

@media screen and (max-width: 989px) {
  .content {
    max-width: 750px;
    padding: 3% 6%;
    width: 88%;
  }

  .like-block {
    margin: 5% 0px;
  }
}

@media screen and (max-width: 720px) {
  .content-left-social-comments {
    font-size: 2.8vw;
  }

  .screenLock {
    display: none !important;
  }
}

@media screen and (max-width: 599px) {
  .content-left-doctor-foto {
    float: none;
    width: 100%;
  }

  .content-left-doctor-text {
    float: none;
    width: 100%;
    margin-top: 3%;
  }
}

@media screen and (max-width: 429px) {
  .like-block img {
    width: 100%;
  }
}
