.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
}
.spin-wrapper__title {
  font-weight: 700;
  font-size: 20px;
}
.wheel {
  width: 380px !important;
  margin: 0 auto;
  position: relative;
}
.content .wheel img {
  max-width: 100%;
}
.wheel-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cursor-text {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 55% !important;
  height: 55%;
  line-height: 76px;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  top: 49%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset,
    rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset,
    rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(234, 234, 234, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 234, 234, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
  font-size: 18px;
}
.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}
.order_block {
  display: none;
  margin: 20px 0;
}
.content .product img {
  /* width: 100%; */
  max-width: 380px;
  max-height: 341px;
  display: block;
  margin: 0 auto 0 25%;
}
form {
  display: block !important;
  margin: 0 auto !important;
  text-align: center !important;
}
p.priceÑ {
  position: relative;
  right: -58px;
  bottom: -50px;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
  width: 180px;
  height: 105px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  transform: rotateZ(-16deg);
  text-align: center !important;
  margin: -160px auto 30px;
  background: linear-gradient(
    to right,
    rgb(238, 165, 19) 0%,
    rgb(253, 237, 19) 100%
  );
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 19%;
  padding: 5px;
}
.priceÑ span {
  display: inline-block;
  font-size: 22px;
}
.priceÑ .old_price {
  text-decoration: line-through;
  display: block;
}
.priceÑ .old_price span {
  display: inline-block;
  font-weight: normal;
}
.new_price {
  border-bottom: 2px solid #f00;
  margin: 0 auto;
}
.timer {
  font-size: 18px;
  font-weight: normal;
  margin: 75px 0 20px;
  text-align: center;
}
#clock span {
  color: #f00;
  font-weight: bold;
}
label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}
.form_group {
  padding: 10px;
  display: block;
  margin: 10px auto;
  border: 2px solid grey;
  border-radius: 5px;
  width: 100%;
  max-width: 460px;
  box-sizing: border-box;
}
.form_btn {
  display: block;
  margin: 20px auto;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #de0606;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.form_btn:hover {
  opacity: 0.8;
}
.order_block h2 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
.red {
  color: #f00;
}
.wheel-img {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}
.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("http://viposidn.com/content/H1kuIXAyMYm8Phh/img/cross.svg")
    /*tpa=http://th8.theerofertil.com/landWheelFiles/cross.svg*/;
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px;
  cursor: pointer;
}
.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}
.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.pop-up-layer {
  position: fixed !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  z-index: 99 !important;
}
.pop-up-layer-show {
  display: block;
}
.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0px;
  left: 0px;
  top: 40%;
  margin: 0px auto;
  background: #ffffff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}
.pop-up-window::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  background-color: rgb(113, 195, 65);
  border-radius: 50%;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}
.pop-up-window::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}
@keyframes pop-up-appear {
  0% {
    transform: translateY(-2000px);
  }
  30% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes pop-up-appear-before {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pop-up-appear-after {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pop-up-heading {
  font-size: 40px;
  margin-bottom: 20px;
}
.pop-up-text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.pop-up-button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20%;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(113, 195, 65);
  color: rgb(255, 255, 255);
  border: medium none;
  cursor: pointer;
  outline: medium none;
}
.pop-up-button:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.wheel img {
  max-width: 100%;
}
@media all and (max-width: 520px) {
  .wheel {
    width: 225px !important;
  }
  .cursor-text {
    line-height: 36px;
    font-size: 11px;
  }
  .close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("http://viposidn.com/content/H1kuIXAyMYm8Phh/img/cross.svg")
      /*tpa=http://th8.theerofertil.com/landWheelFiles/cross.svg*/;
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -10px;
    cursor: pointer;
  }
}
.super-rotation {
  -webkit-animation-name: super-rotation;
  animation-name: super-rotation;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@-webkit-keyframes super-rotation {
  70% {
    -webkit-transform: rotate(1883deg);
    transform: rotate(1883deg);
  }
  100% {
    -webkit-transform: rotate(1874deg);
    transform: rotate(1874deg);
  }
}

@keyframes super-rotation {
  70% {
    -webkit-transform: rotate(1883deg);
    transform: rotate(1883deg);
  }
  100% {
    -webkit-transform: rotate(1874deg);
    transform: rotate(1874deg);
  }
}